body{
    background-color: #ccc;
}

.list{
    padding: 0;
    margin: 0;
    list-style: none;
    margin: 0 auto;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, .5);
    padding: 20px;
    margin-top: 100px;
    width: 1200px;
    border-radius: 10px;
    border-radius: 15px 0 15px 0;
}

.list li {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 5px;
    background-color: #888;
    color: white;
    font-weight: bold;
    border-radius: 0 15px 0 15px;
    font-family: sans-serif;
    color: #333;
    font-size: 18px;
}

button{
    padding: 5px 10px;
    border-radius: 8px 0;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all ease .2s;
}
::selection{
    display: none;
}
button:hover{
    background-color: #ccc;
}

#list [contenteditable="true"]{
    border: 1px solid transparent;
    outline: none;
    display: block;
    padding: 5px 10px;
}

#list [contenteditable="true"]:focus {
    border: 1px solid #ccc;
    border-radius: 8px 0; 
}

#form{
    margin: 0 auto;
    width: 600px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input{
    height: 40px;
    width: 80%;
    border: none;
    outline: none;
    padding: 5px 15px;
    font-size: 16px;
    border: 1px solid #888;
    border-radius: 15px 0;
    transition: all ease .2s;
}

input:focus{
    background-color: #fff7f4;
}

.submit{
    height: 40px;
    padding: 5px 15px;
    border: 1px solid #777;
    box-sizing: content-box;
    border-radius: 0 15px;
}

.submit:hover{
    background-color: #aaa;   
}